golang/http3-server/certs
golang/http3-client/certs
golang/http3-client/key

python/http3-server/certs
python/http3-server/keys
python/http3-server/quic-log
python/http3-server/__pycache__/

python/http3-client/certs
python/http3-client/quic-log
python/http3-client/keys
python/http3-client/__pycache__/
python/http3-client/files

python/middlebox/files
